{% extends "layout.html" %}

{% block title %}
    &mdash; Categories
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-evenly">

            <div class="col-auto mt-2 mb-5">
                <h3>Category name</h3>
                <div>
                    Click on a category to delete it from the budget.
                    <p></p>
                </div>

                <table class="table table-responsive">
                    <tbody>
                        {% for category in cat_list %}
                            <tr>
                                <!-- Click on category to delete it -->
                                <td>
                                    <form action="/delete/category" method="post">
                                        <input id="del_category" name="del_category" type="hidden" value="{{ category }}">
                                        <button class="btn btn-text" type="submit">{{ category }}</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <form action="/categories" method="post">
                                <td class="input-group">
                                    <input autocomplete="off" class="form-control" id="category_name" name="category_name" placeholder="Category name" type="text">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-sm-2 mt-2 mb-5">
                <h3>Change name</h3>
                <div>
                    Rename the category.
                    <p></p>
                </div>
                <form action="/rename" method="post">
                    <div class="my-2">
                        <input autocomplete="off" class="form-control" id="old_name" name="old_name" placeholder="Old name" type="text">
                    </div>
                    <div class="my-2">
                        <input autocomplete="off" class="form-control" id="new_name" name="new_name" placeholder="New name" type="text">
                    </div>
                    <div class="my-2">
                        <button class="btn btn-secondary" type="submit">Rename</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
