<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://getbootstrap.com/docs/5.3/getting-started/introduction/#quick-start -->
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link href="static/themes.css" rel="stylesheet">
        {% block head %}{% endblock %}

        <title>Home Budget {% block title %}{% endblock %}</title>

    </head>

    <body>

        {% if session["user_id"] %}
            <nav class="navbar navbar-expand-lg" style="background-color: var(--bs-success-bg-subtle);">
        {% else %}
            <nav class="navbar navbar-expand-lg" style="background-color: var(--bs-secondary-bg);">
        {% endif %}
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Home Budget</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        {% if session["user_id"] %}
                            <ul class="navbar-nav me-auto">
                                <li class="navbar-nav me-auto">
                                    <a class="nav-link active" href="/add">New Expense</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/categories">Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/structure">Pie Chart</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Years
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for year in years %}
                                            <form action="/" method="get">
                                                <li>
                                                    <input name="disp_year" type="hidden" value="{{ year }}">
                                                    <button class="dropdown-item" type="submit">{{ year }}</button>
                                                </li>
                                            </form>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/logout">Log Out</a>
                                </li>
                            </ul>
                        {% else %}
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/login">Log In</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
        </nav>

        <main class="container-fluid py-lg-4 text-center">
            {% block main %}{% endblock %}
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

        <footer class="py-3 my-4 border-top">
            <p class="text-center text-body-secondary">© 2023 Adrian Okołowicz</p>
        </footer>

    </body>

</html>
